<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5-UlRyX2l1E1-K06BJFegjOgGds8BVvM</string>
	<key>GCM_SENDER_ID</key>
	<string>591701720649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>htmlflutterpoc</string>
	<key>STORAGE_BUCKET</key>
	<string>htmlflutterpoc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591701720649:ios:9b7d89c637227a8f9e0998</string>
</dict>
</plist>